html, body {
	margin: 0;
	padding: 0;  
	background: #F6E9E1;
	height:5120px;
}
html{
	overflow-x:hidden; 
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#title{			
	position: absolute;
	width: 340px;
	height: 43px;
	left: 37px;
	top: 20px;
	font-family: Sarpanch;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	color: #174799;
}

#container1-left-title{
	position: absolute;
	width: 563px;
	height: 43px;
	top:200px;
	left:750px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 160%;
	/* or 58px */
	color: #174799;
}

#container1-left-words{
	position: absolute;
	
	width: 395px;
	height: 161px;
	top:280px;
	left:750px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: regular;
	font-size: 16px;
	line-height: 160%;
	/* or 22px */
	
	color: #174799;
}

#container1-pic{
	position: absolute;
	width: 491px;
	height: 400px;
	top:150px;
	left:150px;
}

#container2-plots-title{
	position: absolute;
	width: 147px;
	height: 87px;
	top:650px;
	left:610px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 160%;
	/* or 58px */
	
	
	color: #174799;
}

#container2-rectangle1{
	position: absolute;
	left: 209px;
	top: 733px;
}
#container2-rectangle2{
	position: absolute;
	left: 564px;
	top: 733px;
}
#container2-rectangle3{
	position: absolute;
	left: 920px;
	top: 733px;
}
#container2-pic1{
	position: absolute;
	
	left: 219px;
	top: 743px;
}
#container2-pic2{
position: absolute;

left: 574px;
top: 743px;
}
#container2-pic3{
	position: absolute;
	
	left: 930px;
	top: 743px;

}

#container2-title1{
	position: absolute;
	
	top:1000px;
	left:220px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 160%;
	/* or 22px */
	
	
	color: #E46145;
}
#container2-title2{
position: absolute;
top:1000px;
left:574px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160%;
/* or 22px */


color: #FFDA5C;
}

#container2-title3{
	position: absolute;
	top:1000px;
	left:930px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 160%;
	/* or 22px */
	
	
	color: #FFFFFF;
	}
	
	#container2-words1{
		position: absolute;
		width: 260px;
		height: 113px;
		top:1030px;
		left:220px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		/* or 19px */
		
		
		color: #E46145;
	}
	#container2-words2{
		position: absolute;
		width: 248px;
		height: 73px;
		top:1030px;
		left:574px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		/* or 19px */
		
		
		color: #FFDA5C;
		
	}
	#container2-words3{
		position: absolute;
		width: 239px;
		height: 27px;
		top:1030px;
		left:930px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		/* or 19px */
		
		
		color: #FFFFFF;
	}
	
	#container-timeline-title{
		position: absolute;

		top:1260px;
		left:540px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 160%;
		/* or 58px */
		color: #174799;
	}
	#timeline{
		position: absolute;
		top: 1350px;
	}
	
#container3-title{
		position: absolute;
		width: 840px;
		height: 87px;
		top:2060px;
		left:650px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 160%;
		/* or 58px */
		
		
		color: #174799;
	}
	
	#container3-back{
		position: absolute;
		width: 1143px;
		height: 742px;
		left: 173px;
		top: 2150px;
	}
	
	
	
	#container3-title1{
		position: absolute;
		
		left: 950px;
		top: 2190px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: medium;
		font-size: 26px;
		line-height: 160%;
		/* or 58px */
		
		
		color: #174799;
	}
	
	#PieChart{
		position: absolute;
		left: 250px;
		top: 2200px;
	}
	
	#container3-words1{
		position: absolute;
		left: 950px;
		top: 2290px;
		width:260px;
		font-family: Helvetica;
		font-style: normal;
		
		font-size: 14px;
		line-height: 160%;
		/* or 58px */
		
		
		color: #174799;
	}
	#container3-title2{
	position: absolute;
		
		left: 220px;
		top: 2620px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: medium;
		font-size: 26px;
		line-height: 160%;
		/* or 58px */
		
		
		color: #FFDA5C;
	}
	
	#container3-back2{
		position: absolute;
		width: 1093px;
		height: 742px;
		left: 173px;
		top: 2580px;
	}
	#BarChart{
		position: absolute;
		left: 590px;
		top: 2640px;
	}
	
	#container3-words2{
		position: absolute;
		left: 220px;
		top: 2720px;
		width:230px;
		font-family: Helvetica;
		font-style: normal;
		
		font-size: 14px;
		line-height: 160%;
		/* or 58px */
		
		color: #FFDA5C;
	}
	
	
		
		#container3-back3{
			position: absolute;
			width: 1143px;
			height: 742px;
			left: 173px;
			top: 3010px;
		}
		
		
		
		#container3-title3{
			position: absolute;
			
			left: 950px;
			top: 3050px;
			
			font-family: Helvetica;
			font-style: normal;
			font-weight: medium;
			font-size: 26px;
			line-height: 160%;
			/* or 58px */
			
			
			color: #FFFFFF;
		}
		
		#ScatterChart{
			position: absolute;
			left: 250px;
			top: 3060px;
		}
		
		#container3-words3{
			position: absolute;
			left: 950px;
			top: 3150px;
			width:260px;
			font-family: Helvetica;
			font-style: normal;
			
			font-size: 14px;
			line-height: 160%;
			/* or 58px */
			
			
			color: #FFFFFF;
		}
		
		
		
	#map_2d0f16c0bd71496fad1a62e03059d3ec{
	    position: absolute;
	    width: 700px;
	    height: 400px;
	    left: 570px;
	    top: 3500px;
	}
	#container5-title{
	position: absolute;
	width: 440px;
	height: 87px;
	top:3550px;
	left:300px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: medium;
	font-size: 30px;
	line-height: 160%;
	/* or 58px */
	
	
	color: #174799;
	}
	#container5-words{
		position: absolute;
		width: 289px;
		height: 42px;
		left: 200px;
		top: 3670px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		text-align: right;
		
		color: #174799;
	}
	#container5-zoom{
	position: absolute;
	width: 240px;
	height: 40px;
	left: 260px;
	top: 3790px;
	}
	
	
	#map_70d04cd298624276acf38863a4538538 {
		position: absolute;
		width: 700px;
		height: 400px;
		left: 160px;
		top: 3990px;
	}
	
	#container4-title{
		position: absolute;
		width: 440px;
		height: 87px;
		top:4040px;
		left:947px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: medium;
		font-size: 36px;
		line-height: 160%;
		/* or 58px */
		
		
		color: #174799;
	}
	
	#container4-words{
		position: absolute;
		width: 289px;
		height: 63px;
		left: 947px;
		top: 4160px;
		
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		
		color: #174799;
	}
	
	#container4-zoom{
	position: absolute;
	width: 240px;
	height: 40px;
	left: 947px;
	top: 4280px;
}

#container6-back{
	position: absolute;
	left: 0px;
	top: 4500px;
}

#wordcloud{
	position: absolute;
	left: 100px;
	top: 4540px;
}

#container6-title{
	position: absolute;
	left: 900px;
	top: 4600px;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: medium;
	font-size: 36px;
	line-height: 160%;
	/* or 58px */
	
	
	color: #174799;
}

#container6-words{
	position: absolute;
	left: 900px;
	top: 4720px;
	width: 360px;

	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	
	color: #174799;
}

#name{
	position: absolute;
	left: 500px;
	top: 5080px;
	width: 660px;
	
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	
	color: #174799;
}